@use "./tailwind.scss" as *;

// @use "./element-reset.scss" as *;
// @import "./tailwind-preflight.css";
* {
  box-sizing: border-box;
}

html,
body,
#app,
.full {
  width: 100%;
  height: 100%;
}

.screen {
  width: 100vw;
  height: 100vh;
}

html,
body,
#app,
.screen {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

/* 阿里云图标 */
.icon {
  width: 1em;
  height: 1em;
  /* vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
}